.cart{
    position: sticky;
    top: 0;
    padding: 30px 20px;
}
.btn-toast{
    border: 1px solid cornflowerblue;
    padding: 10px;
    border-radius: 10px;
    
}
.btn-toast:hover{
    background-color:indianred;
}
.information{
    border-radius: 8px;
    background-color: antiquewhite;
    box-shadow: 2px 2px 2px gray ;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    

}


.add-break{
    
    background-color: antiquewhite;
    border-radius: 8px;
    box-shadow: 2px 2px 2px gray ;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
}
.add-btn{
    border: none;
    border: 1px solid gray;
    border-radius:50px;
}

.exercise-time{
    background-color: antiquewhite;
    border-radius: 8px;
    box-shadow: 2px 2px 2px gray ;
    border: none;
    padding: 10px; 
}

.break-time{
    background-color: antiquewhite;
    border-radius: 8px;
    box-shadow: 2px 2px 2px gray ;
    border: none;
    padding: 10px; 
}

