.cart{
    position: sticky;
    top: 0;
    padding: 30px 20px;
}
.btn-text{
    border: none;
    padding: 10px;
    border-radius: 10px;
    
}
.btn-text:hover{
    background-color: orange;
}
.information{
    border-radius: 8px;
    background-color: antiquewhite;
    box-shadow: 2px 2px 2px gray ;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    

}

.btn{
    display: flex;
    gap: 10px;
    
}