.product-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    
}

.gym-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin: 100px 50px;
}
.cart-container{
    background-color:  #f5f0e9f9;
    text-align: center;
    
}

.img-info img{
width: 50px;
height: 50px;
border-radius: 20px;
}
.img-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
}
@media only screen and (max-width: 425px) {
    .product-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;

    }
}
@media only screen and (max-width: 425px) {
    .gym-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 30px;


    }
}
